<!DOCTYPE html>

<html lang="en">
<body>
{% extends 'base6.html' %}
{% load static %}
{% block content %}
  <!--==========================
  Edit Profile Section
============================-->

<div class="container">
    <div class="head">
	<h1>Edit Profile</h1>
  	</div>
	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="img/dummy.jpg" class="avatar img-circle" alt="avatar">
          <p><h6>Upload a different photo...</h6></p>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" method="POST" >
		 {% csrf_token %}
		 <div class="form-group  ">
		 <div class="col-lg-8">
		{{ form.as_p }}
		<button type="submit" class="form-control btn btn-register" value="Register Now">Changes Password</button>
		</div>
		</div>
		
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}
</body>
</html>